<!DOCTYPE html>
{% load staticfiles %}
<html>
        <head>
				<meta charset="utf-8">
				<meta http-equiv="x-ua-compatible" content="ie=edge">
				<meta name="renderer" content="webkit">
                <title>个人信息编辑页</title>
                <link rel="stylesheet" href="{% static 'emsys/styles/index.css' %}">
        </head>
        <body>
<div class='left_bar'>
	<div class='top_part'>
		<div class='h1'><a href="/emsys/">数据展示部分</a></div>
		<div class='sub_part'>
			<div class='h2'><input name='groupby' type='radio' value="position" checked="checked">地点优先</input></div>
			<div class='content'>
				{% for device in logged.device_p %}
					<label><p><input type="checkbox" name="position" value="{{device.id}}" checked="checked">{{device}}</input></p></label>
				{% endfor %}
			</div>
		</div>
		<div class='sub_part'>
				<div class='h2'><input name='groupby' type='radio' value="item">数据优先</input></h3></div>
				<div class='content'>
                    <label><p><input type="checkbox" name="item" value="0" checked="checked" data-unit="°C">温度</input></p></label>
                    <label><p><input type="checkbox" name="item" value="1" checked="checked" data-unit="%">湿度</input></p></label>
                    <label><p><input type="checkbox" name="item" value="2" checked="checked" data-unit="μg/m3">PM2.5</input></p></label>
                    <label><p><input type="checkbox" name="item" value="3" checked="checked" data-unit="μg/m3">PM10</input></p></label>
				</div>
		</div>
		<div id="dateset" class='sub_part'>
            <span id="realtime">实时</span>
            <input type='text' class="flatpickr" data-enable-time="true" data-time_24hr="true" data-minute-increment="10" data-max-date='today' data-min-date='2016-09-10' value="today">
            <input type='text' class="flatpickr" data-enable-time="true" data-time_24hr="true" data-minute-increment="10" data-max-date='today' data-min-date='2016-09-10' value="today">
            <button id="choosetime">确定</button>
        </div>
	</div>
	<div class='top_part'>
		<div class='h1'>管理部分</div>
		<div class='sub_part'>
			<div class='h2'>登录区</div>
			<div class='content'>
				{% if status == 0 %}
					< action="/emsys/login/" method="post">
					{% csrf_token %}
					<p>请登录：</p>
					<p>用户名：<input type="text" name="username" /></p>
					<p>密码：<input type="password" name="password" /></p>
					<input type="submit" value="登陆" />
					<p>{{tip}}</p>
					</form>
				{% elif status == 1 %}
					已登陆：{{logged.username}}
					<a href='/emsys/logout/'>退出</a>
				{% endif %}
			</div>
		</div>
		{% if status == 1 %}
			{% if logged.device == True %}
			<div class='sub_part'>
				<div class='h2'>设备管理区</div>
				<div class='content'>
					{% for device in logged.device_p %}
						<p><a href='/emsys/dev/edit/{{device.id}}/'>{{device}}</a></p>
					{% endfor %}
                        <p class='add'><a href='/emsys/dev/add/'>添加设备</a></p>
						<p class='add'><a href='/emsys/dev/control/'>管理设备</a></p>
				</div>
			</div>
			{% endif %}
		<div class='sub_part'>
			{% if logged.master == 'S' %}
				<div class='h2'>用户管理区</div>
				<div class='content'>
					{% for key, value in logged.master_s.items %}
						<p><a href='/emsys/usergroup/edit/{{value.0}}/'>●{{key}}</a></p>
						<div class='content_below'>
						{% for key_, value_ in value.1.items %}
							<p><a href='/emsys/user/edit/{{key_}}/'>{{value_}}</a></p>
						{% endfor %}
						</div>
						<p class='add_'><a href='/emsys/user/add/{{value.0}}/'>添加 {{key}} 组用户</a></p>
					{% endfor %}
					<p class='add'><a href='/emsys/usergroup/add/'>添加用户组</a></p>
				</div>
			{% elif logged.master == 'G' %}
				<div class='h2'>用户管理区</div>
				<div class='content'>
					<p><a href='/emsys/usergroup/edit/{{logged.group_id}}/'>{{logged.group_n}}</p>
					<div class='content_below'>
					{% for person in logged.group_m %}
						<p><a href='/emsys/user/edit/{{person.id}}/'>{{person.username}}</a></p>
					{% endfor %}
					</div>
				</div>
			{% elif logged.master == 'N' %}
				<div class='h2'>用户管理区</div>
			{% endif %}
			<div class='content'>
				<p class='self'><a href='/emsys/user/self/'>修改个人信息</a></p>
			</div>
		</div>
		<div class='sub_part'>
			<div class='h2'>数据管理区</div>
			<div class='content'>
				<p><a href='/emsys/data/history/'>数据查询</a></p>
				<p><a href='/emsys/data/warning/'>警报设置</a></p>
			</div>
            {% endif %}
		</div>
	</div>
</div>
            <div class='right_part'>
                <h2>删除成功！<span ='time'>5</span>秒后自动跳转，如没有跳转，请点击<a href='/emsys/'>这里</a>。</h2>
                <script>
                    var time=document.getElementById('time');
                    var i=0;
                    setInterval(function(){
                        i++;
                        time.innerHTML = 5-i;
                        if(i==5) location.href = '/emsys/';
                    },1000)
                </script>
            </div>
        </body>
</html>
